In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as smf

In [ ]:
df = pd.read_csv('out3.csv')  # taking data from the sites(been done earlier)
df.head()

                                       Unnamed: 0  ...  Капитал в руб
0          в том числе Корякский автономный округ  ...        12435.0
1  Таймырский (Долгано-Ненецкий) автономный округ  ...        32913.0
2                                   Пермский край  ...        13766.0
3                               Читинская область  ...         5958.0
4                              Мурманская область  ...        11112.0

[5 rows x 4 columns]

In [ ]:
df = df.apply(lambda x: np.log(x) if np.issubdtype(x.dtype, np.number) else x)  # turn x -> lnx
df

                                        Unnamed: 0  ...  Капитал в руб
0           в том числе Корякский автономный округ  ...       9.428270
1   Таймырский (Долгано-Ненецкий) автономный округ  ...      10.401623
2                                    Пермский край  ...       9.529957
3                                Читинская область  ...       8.692490
4                               Мурманская область  ...       9.315781
..                                             ...  ...            ...
85                               Иркутская область  ...       8.808070
86                            Владимирская область  ...       8.663196
87                         Калинингpадская область  ...       9.000483
88           в том числе Ненецкий автономный округ  ...      12.744786
89                             Ульяновская область  ...       8.391176

[90 rows x 4 columns]

In [ ]:
# let's drop Затраты на тех. инновации в тыс руб bc A == const
df = df.drop("Затраты на тех. инновации в тыс руб", axis=1)
df

                 Unnamed: 0  ...  Капитал в млн руб
0      Чувашская Республика  ...           9.012255
1             Пермский край  ...          10.568595
2      Белгородская область  ...           9.290075
3      Владимирская область  ...           9.088173
4          Тульская область  ...           9.163144
..                      ...  ...                ...
83       Тамбовская область  ...           8.583168
84       г. Санкт-Петербург  ...          11.239094
85     Оренбургская область  ...           9.803501
86     Республика Татарстан  ...          10.945688
87  Калининградская область  ...           8.954286

[88 rows x 4 columns]

In [ ]:
df.describe()

       ВРП в млн руб  Занятые в тыс чел  Капитал в млн руб
count      87.000000          88.000000          88.000000
mean       10.847319           6.219051           9.171473
std         1.338878           1.213422           1.368591
min         7.349102           2.302585           5.749393
25%        10.191110           5.847154           8.482438
50%        10.886644           6.415888           9.219677
75%        11.552750           6.996843           9.931539
max        14.496407           8.648046          12.627998

In [ ]:
df = df.rename(columns={'Unnamed: 0': 'Regions'})
df

                                           Regions  ...  Капитал в руб
0           в том числе Корякский автономный округ  ...       9.428270
1   Таймырский (Долгано-Ненецкий) автономный округ  ...      10.401623
2                                    Пермский край  ...       9.529957
3                                Читинская область  ...       8.692490
4                               Мурманская область  ...       9.315781
..                                             ...  ...            ...
85                               Иркутская область  ...       8.808070
86                            Владимирская область  ...       8.663196
87                         Калинингpадская область  ...       9.000483
88           в том числе Ненецкий автономный округ  ...      12.744786
89                             Ульяновская область  ...       8.391176

[90 rows x 4 columns]

In [ ]:
df.dropna()  # getting rid of null rows
df.describe()

       ВРП на душу насел в руб  Занятые в тыс чел  Капитал в руб
count                79.000000          88.000000      88.000000
mean                 10.740395           6.219051       9.153528
std                   0.543123           1.213422       0.942898
min                   8.989245           2.302585       7.322510
25%                  10.438987           5.847154       8.620963
50%                  10.713061           6.415888       8.981501
75%                  11.002569           6.996843       9.500398
max                  12.593207           8.648046      12.744786

In [ ]:
y = df[["ВРП в млн руб"]]  # let's divide predicted value
x = df[["Занятые в тыс чел", "Капитал в млн руб"]]  # from regressors

In [ ]:
# df = df.drop(67, axis=0)  # dropped line with Чеченская Республика bc was with Nans
# df[df.isna().any(axis=1)] # checked for nans
df = df.drop(0, axis=0)
df = df.drop(1, axis=0)
df = df.drop(22, axis=0)
df = df.drop(23, axis=0)
df = df.drop(40, axis=0)
df = df.drop(43, axis=0)
df = df.drop(45, axis=0)
df = df.drop(52, axis=0)
df = df.drop(70, axis=0)
df = df.drop(72, axis=0)
df = df.drop(82, axis=0)
df = df.drop(87, axis=0)
df = df.drop(88, axis=0)

In [ ]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Regions, ВРП на душу насел в руб, Занятые в тыс чел, Капитал в руб]
Index: []

In [ ]:
y = df[["ВРП на душу насел в руб"]]  # let's divide predicted value
x = df[["Занятые в тыс чел", "Капитал в руб"]]  # from regressors

In [ ]:
x = smf.add_constant(x)  # and add to regressors constant == betta_0*(A + u)
est = smf.OLS(y, x, missing='raise').fit()
est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               OLS Regression Results
===================================================================================
Dep. Variable:     ВРП на душу насел в руб   R-squared:                       0.791
Model:                                 OLS   Adj. R-squared:                  0.786
Method:                      Least Squares   F-statistic:                     140.3
Date:                     Tue, 21 Dec 2021   Prob (F-statistic):           6.65e-26
Time:                             23:03:02   Log-Likelihood:                -1.7784
No. Observations:                       77   AIC:                             9.557
Df Residuals:                           74   BIC:                             16.59
Df Model:                                2
Covariance Type:                 nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 4.1889      0.410     10.206      0.000       3.371       5.007
Занятые в тыс чел     0.0844      0.032      2.627      0.010       0.020       0.148
Капитал в руб         0.6653      0.041     16.286      0.000       0.584       0.747
==============================================================================
Omnibus:                        1.556   Durbin-Watson:                   2.074
Prob(Omnibus):                  0.459   Jarque-Bera (JB):                1.250
Skew:                          -0.312   Prob(JB):                        0.535
Kurtosis:                       3.015   Cond. No.                         160.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
est = smf.OLS(y, x, missing='raise').fit(cov_type="HC3")  # боремся с гетероскедастичностью
est.summary()
# HC0 - корректировка стандартных ошибок Уайта
# Stata/Eviews - default is HC1
# (неудачно в питоне, но для малого набора данных сработает) HC3

<class 'statsmodels.iolib.summary.Summary'>
"""
                               OLS Regression Results
===================================================================================
Dep. Variable:     ВРП на душу насел в руб   R-squared:                       0.791
Model:                                 OLS   Adj. R-squared:                  0.786
Method:                      Least Squares   F-statistic:                     80.13
Date:                     Tue, 21 Dec 2021   Prob (F-statistic):           3.04e-19
Time:                             23:03:17   Log-Likelihood:                -1.7784
No. Observations:                       77   AIC:                             9.557
Df Residuals:                           74   BIC:                             16.59
Df Model:                                2
Covariance Type:                       HC3
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 4.1889      0.561      7.472      0.000       3.090       5.288
Занятые в тыс чел     0.0844      0.046      1.820      0.069      -0.006       0.175
Капитал в руб         0.6653      0.053     12.469      0.000       0.561       0.770
==============================================================================
Omnibus:                        1.556   Durbin-Watson:                   2.074
Prob(Omnibus):                  0.459   Jarque-Bera (JB):                1.250
Skew:                          -0.312   Prob(JB):                        0.535
Kurtosis:                       3.015   Cond. No.                         160.
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC3)
"""

In [ ]:
hypos = 'Занятые в тыс чел=0'  # checking the hypothesis that our constant = 0
est.t_test(hypos)

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.0844      0.046      1.820      0.069      -0.006       0.175
==============================================================================

In [ ]:
# Heteroskedasticity tests

#** Heteroskedasticity tests**

##**Breush-Pagan test:**
Нулевая гипотеза в том, что var(u_i|X_i) = const отвергается, если F_act > F_{1-alpha}
Также можно проверить через p-value:
Если P(F)< alpha, где alpha  - уровень значимости, то гетероскедастичность значима, в противном случае - нет. У нас мы взяли alpha = 5%

In [ ]:
import statsmodels.stats.api as sms
from statsmodels.compat import lzip

name = ["F actual", "p-value"]
test = sms.het_goldfeldquandt(est.resid, est.model.exog)
lzip(name, test)

[('F actual', 1.4473665246963012), ('p-value', 0.1371704965935114)]

We have that p-value > alpha => Ошибка гомоскедастична

In [ ]:
from  statsmodels.stats.stattools import durbin_watson
durbin_watson(resids=est.resid)

2.0740780203303655

Это значение близко к 2, значит автокорреляции нет

In [ ]:
est.cov_params()

                      const  Занятые в тыс чел  Капитал в руб
const              0.314247          -0.013584      -0.024988
Занятые в тыс чел -0.013584           0.002152      -0.000073
Капитал в руб     -0.024988          -0.000073       0.002847

Проверили матрицу ковариаций - все реально так хорошо, как кажется